* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root{
    --skyblue: #8f95ff;
    --darkblue: #0e005a;
    --pink: #ffbbf7;
    --purple: #d1a2ff;
    --white: #fff9df;
}
@keyframes color-shift {
    to {
        background-position: 4500vh;
    }
}